@font-face {
  font-family: Conthrax;
  src: url("../public/assets/fonts/conthrax-sb.ttf");
}
@font-face {
  font-family: Poppins;
  src: url("../public/assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: Poppins-medium;
  src: url("../public/assets/fonts/Poppins-Medium.ttf");
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Conthrax, sans-serif;
  background: #e5e5e5;
  background-color: #e5e5e5 !important;
}

a {
  color: inherit;
  text-decoration: none;
}
p {
  margin-bottom: 0px !important;
}
* {
  box-sizing: border-box;
}
.headerTop {
  padding: 5px;
}
.headerTop > .d-flex {
  gap: 20px;
}
.headerTop p {
  font-family: "Conthrax";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-transform: capitalize;
  color: #7d7d7d;
  margin-left: 5px;
}
.seperator {
  width: 1px;
  background-color: #7d7d7d;
}
.mainHeader .navbar li a {
  font-family: "Conthrax";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
  padding: 0px 20px !important;
}
.navbar {
  position: static !important;
}
.navbar-brand {
  position: absolute;
  left: 0;
  top: 0;
}
.mainHeader .navbar li a.whitePaper {
  font-family: "Conthrax";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
  background: linear-gradient(89.69deg, #cb3a06 3.04%, #dd810c 99.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  border: 2px solid #cb3a06;
  width: 144px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.navbar-toggler {
  box-shadow: none;
}
.customSlider img {
  width: 100%;
  height: 220px;
  border-radius: 40px;
  border: 3px solid #c32203;
}
.cardBottom {
  background: #5c5c5c;
  padding: 10px;
  border-bottom-left-radius: 12.3034px;
  border-bottom-right-radius: 12.3034px;
}
.cardBottom .currency {
  gap: 7px;
}
.cardBottom .currency img:first-child {
  width: 25px;
}
.cardBottom .currency img:last-child {
  width: 15px;
}
.cardBottom .price {
  gap: 7px;
}
.cardBottom .price p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17.2247px;
  color: #ffffff;
  margin-bottom: 0px;
}
.cardBottom .price h2 {
  font-family: "Poppins-Medium";
  font-style: normal;
  font-weight: 700;
  font-size: 17.2247px;
  color: #ffffff;
  margin-bottom: 0px;
}
.customCard {
  background: #ffffff;
  border-radius: 12.3034px;
  padding-top: 15px;
}
a {
  text-decoration: none !important;
}
.imageBorder {
  border: 1px solid #cb3a06;
  border-radius: 12.3034px;
  padding: 3px;
  margin-bottom: 20px;
}
.customCard h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}
.customCard h1 {
  font-family: "Conthrax";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.floatingImage img {
  border: 1.23034px solid #ffffff;
  border-radius: 0px 37.5253px 0px 12.3034px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 60px;
  position: absolute;
  bottom: 3px;
  right: 3px;
}
.mainTitle {
  font-family: "Conthrax";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
}
.mainTitle img {
  margin-top: -22px;
}
.seeAll {
  font-family: "Conthrax";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  background: linear-gradient(180deg, #ca3806 0%, #dd800c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.mainTitle img.hand {
  margin-top: -5px;
  transform: rotate(180deg);
}
.sellerCard {
  background: #ffffff;
  border: 1px solid #c1c1c1;
  border-radius: 12px;
}
.sellerCard .top {
  height: 5px;
  background: linear-gradient(180deg, #c21e02 0%, #e0900c 100%);
  border-radius: 12px 12px 0px 0px;
}
.sellerCard .number {
  font-family: "Conthrax";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.5);
}
.sellerCard .profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.sellerCard .profile h1 {
  font-family: "Conthrax";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0px;
  color: #000000;
  line-height: 50px;
}
.profile {
  gap: 30px;
}
.profile .d-flex {
  gap: 10px;
}
.viewProfile h2 {
  font-family: "Conthrax";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #908f8f;
}
.viewProfile h3 {
  font-family: "Conthrax";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
}
.viewProfileBtn {
  font-family: "Conthrax";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background: linear-gradient(180deg, #ca3806 0%, #dd800c 100%);
  text-decoration: none;
  padding: 15px 10px;
  display: block;
  text-align: center;
  clip-path: polygon(
    20% 0%,
    93% 0%,
    100% 20%,
    100% 100%,
    100% 100%,
    7% 100%,
    0% 80%,
    0 0
  );
}
.viewProfileBtn:hover {
  color: white;
}
.collections h1 {
  font-family: "Conthrax";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}
.moreCollections h1 {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(12px);
  border-radius: 8px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Conthrax";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: #ffffff;
}
.sideItem .profile {
  gap: 20px;
}
.sideItem .profile img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.sideItem .profile h1 {
  font-size: 16px;
  line-height: 35px;
}
.sideItem .viewProfile h3 {
  font-size: 12px;
}
.sideItem .viewProfile h2 {
  font-size: 12px;
}
.subscribeMain {
  background: #ffffff;
  border-radius: 20px;
}
.subscribeMain h1 {
  font-family: "Conthrax";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  color: #000000;
}
.subscribeMain p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #999999;
  max-width: 480px;
  margin: 0 auto;
}
.subscribeMain {
  text-align: center;
  padding: 5% 20px;
}
.subscribeMain input {
  border: 1px solid #c32203;
  height: 50px;
  padding: 20px;
  font-family: "Conthrax";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  max-width: 400px;
  width: 400px;
}
.subscribeMain input::placeholder {
  font-family: "Conthrax";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.subscribeMain button {
  font-family: "Conthrax";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  background: linear-gradient(99.09deg, #c52a04 0%, #df8b0c 100%);
  width: 160px;
  height: 50px;
  border: none;
}
.footerTop .collect h1 {
  font-family: "Conthrax";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 0px;
}
.collect a {
  background: linear-gradient(91.08deg, #c93806 0.73%, #dc7f0c 99.29%);
  border-radius: 8px;
  font-family: "Conthrax";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  width: 176px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.collect.moreCollection a {
  width: 280px;
}
.footerLogo {
  position: absolute;
  width: 280px;
}
.footerBottom h1 {
  font-family: "Conthrax";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 37px;
  color: #000000;
  max-width: 340px;
}
.footerBottom a i {
  color: #000000;
  font-size: 20px;
}
.footerBottom .title {
  font-family: "Conthrax";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  color: #dd820c;
}
.footerBottom ul {
  padding-left: 0px;
  margin-top: 10px;
  list-style: none;
}
.footerBottom li {
  margin-bottom: 10px;
}
.footerBottom li a {
  font-family: "Conthrax";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}
.filterBtn {
  background: linear-gradient(180deg, #c32203 0%, #e1920c 100%);
  border-radius: 0px 18px 18px 0px;
  font-family: "Conthrax";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  padding: 10px;
  color: #ffffff;
  border: none;
  width: 100px;
  transition: all ease-in 0.2s;
}
.sidebarMain {
  background: #ffffff;
  box-shadow: 0px 20px 56px rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 0px;
  top: 93px;
  z-index: 9;
  transition: all ease-in 0.2s;
  bottom: 0;
  padding-bottom: 50px;
}
.sidebarMain.opened {
  width: 250px;
}
.sidebarInner {
  display: none;
  padding: 20px;
  height: 100%;
  overflow-y: scroll;
}
.sidebarMain.opened .sidebarInner {
  display: block;
}
.filterBtn.opened {
  width: 100%;
  border-radius: 0;
  text-align: left;
}
.filterBtn.opened span {
  display: none;
}

.strip {
  width: 0px;
  height: 60px;
  display: none;
  transition: all ease-in 0.2s;
}
.sidebarMain.opened .strip {
  display: block;
  width: 278px;
  position: absolute;
  z-index: -1;
  top: 5px;
  transition: all ease-in 0.2s;
}
.sidebarInner .input-group {
  background: #ececec;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  padding: 10px;
}
.sidebarInner input {
  background: transparent;
}
.accordion .accordion-button {
  box-shadow: none;
  font-family: "Conthrax";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  padding: 10px 0px;
}
.accordion-button::after {
  width: 1rem;
  height: 1rem;
  background-size: 1rem;
  background-image: none !important;
  content: url(/assets/imgs/arrow.svg) !important;
}
.accordion-button:not(.collapsed) {
  color: #000000 !important;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-body {
  padding: 0px !important;
}
.accordion-button:not(.collapsed)::after {
  transform: rotate(0deg) !important;
}
.divider {
  background: #343444;
  height: 1px;
  margin: 10px 0px;
}
/* The container */
.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Conthrax";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #000000;
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  border: 1px solid #7a798a;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkmark {
  background: linear-gradient(180deg, #c62d04 0%, #df880c 100%);
  border-radius: 4px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkmark:after {
  left: 7px;
  top: 4px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.checkboxContainer input:checked ~ .checkmark {
  border: none;
}
.accordion-button:not(.collapsed) {
  box-shadow: none !important;
}
.sidebarInner .input-group input:focus {
  box-shadow: none !important;
  background: transparent !important;
}
.sidebarInner .input-group input {
  padding: 0px;
  padding-left: 5px;
}
.headerContainer {
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  left: 0;
  background: #e5e5e5;
}
.mt-150px {
  margin-top: 150px;
}
.navbar.navbar-expand-lg {
  background: #e5e5e5;
}
.nftDetailimg {
  border-radius: 10px;
}
.detailCard {
  background: #ffffff;
  box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 25px;
}
.detailCard h4 {
  font-family: "Conthrax";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #101010;
}
.detailCard p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #565656;
}
.detailCard h5 {
  font-family: "Conthrax";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #999999;
}
.detailCard h5.maincolor {
  color: #dd810c;
}
.detailCard i {
  color: #565656;
  font-size: 20px;
}
.detailPageMain .sidebarMain {
  display: none;
}
